<div>
    <br>
</div>
<div data-zbluepencil-ignore="true" id="Zm-_Id_-Sgn">
    <div>
        <span class="font" style="font-family:verdana, sans-serif">
            <span class="size" style="font-size:13.3333px">
                Atenciosamente,&nbsp;
            </span>
        </span>
        <br>
    </div>
    <div>
        <br>
    </div>
    <div id="Zm-_Id_-Sgn">
        <table cellpadding="0" cellspacing="0" style="font-size: 9pt; font-family: Arial, sans-serif; line-height: 14px">
            <tbody>
                <tr>
                    <td colspan="2" style="width: 480px; padding-bottom: 5px; color: rgb(60, 60, 59)">
                        <div>
                            <span class="colour" style="color:rgb(60, 60, 59)">
                                <span class="font" style="font-family:Arial, sans-serif">
                                    <b>
                                        <span class="size" style="font-size:11pt">
                                            Nome e sobrenome( Ex.: Igor Reis)
                                        </span>
                                    </b>
                                </span>
                            </span>
                            <br>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 480px; color: rgb(23, 147, 210); padding-bottom: 5px; height: 24px">
                        <span class="font" style="font-family:Arial, sans-serif">
                            <span class="size" style="font-size:11pt">
                                <span class="colour" style="color:rgb(51, 51, 51)">
                                    Seu cargo. Ex: Diretor Financero; Gerente Comercial; Assessor de Comunicação.
                                </span>
                            </span>
                        </span>
                        <br>
                    </td>
                </tr>
                <tr>
                    <td colspan="2" style="width: 480px; padding-bottom: 2px; border-top: 1px dotted; border-top-color: rgb(19, 19, 19)">
                        &nbsp;
                        <br>
                    </td>
                </tr>
                <tr>
                    <td style="width: 120px; vertical-align: middle" valign="middle">
                        <div>
                            <img alt="" src="https://bitbucket.org/DCOMTITAN/titan-visual/raw/46394864a3125de27cdf56c2b8ef1ad7d3747834/Marca/Logo_nome_letra_grossa_sem_fundo.png" style="" width="109" height="109">
                                &nbsp;
                            <br>
                        </div>
                        <div>
                            &nbsp;
                            <br>
                        </div>
                    </td>
                    <td style="width: 360px; color: rgb(19, 19, 19); font-family: Arial, sans-serif; vertical-align: middle" valign="middle">
                        <div>
                            <span class="colour" style="color:rgb(19, 19, 19)">
                                <span class="size" style="font-size:9pt">
                                    <span class="font" style="font-family:Arial, sans-serif">
                                        EPUFBA - 8º Andar. Sala 8.3.5.&nbsp;
                                    </span>
                                    <span class="font" style="font-family:arial, helvetica, sans-serif, sans-serif">
                                        |
                                    </span>
                                    <span class="font" style="font-family:Arial, sans-serif">
                                        R. Prof. Aristídes Novis, Nº 2, Federação.
                                    </span>
                                </span>
                            </span>
                            <br>
                        </div>
                        <div>
                            <span class="colour" style="color:rgb(19, 19, 19)">
                                <span class="size" style="font-size:9pt">
                                    <span class="font" style="font-family:Arial, sans-serif">
                                        Salvador - BA
                                    </span>
                                </span>
                            </span>
                            <br>
                        </div>
                        <div>
                            <span class="colour" style="color:rgb(19, 19, 19)">
                                <span class="size" style="font-size:9pt">
                                    <span class="font" style="font-family:Arial, sans-serif">
                                        CEP: 40210-630
                                    </span>
                                </span>
                                <span class="font" style="font-family:Arial, sans-serif">
                                </span>
                            </span>
                            <br>
                        </div>
                        <table cellpadding="0" cellspacing="0">
                            <tbody>
                                <tr>
                                    <td style="padding-top: 2px; padding-left: 1px">
                                        <span style="display: inline-block; height: 23px">
                                            <span>
                                                <a href="https://www.facebook.com/titanufba/" target="_blank">
                                                    <img alt="Facebook icon"  src="https://bitbucket.org/DCOMTITAN/titan-visual/raw/46394864a3125de27cdf56c2b8ef1ad7d3747834/%C3%ADcones/facebook-pantone.png" style="border: 0; height: 23px; width: 23px">
                                                </a>
                                              
                                                &nbsp; &nbsp;
                                                <a href="https://www.instagram.com/titan_ci" target="_blank">
                                                    <img alt="Instagram icon"  src="https://bitbucket.org/DCOMTITAN/titan-visual/raw/35b104ce4215356bc96bc4df326954cfeb519bee/%C3%ADcones/instagram-pantone.png" style="border: 0; height: 27px; width: 27px">
                                                </a>
                                              
                                                <a href="https://pt.linkedin.com/company/ufbatitan" target="_blank">
                                                    <span style="padding-left: 13px">
                                                        <img alt="Linkedin icon"  src="https://bitbucket.org/DCOMTITAN/titan-visual/raw/35b104ce4215356bc96bc4df326954cfeb519bee/%C3%ADcones/linkedin-pantone.png" style="border: 0px; height: 27px; width:27px" >
                                                    </span>
                                                </a>
                                            </span>
                                        </span>
                                        &nbsp;
                                        <br>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
            </tbody>
        </table>
        <div>
            &nbsp;
            <br>
        </div>
        <div>
            &nbsp;
            <br>
        </div>
    </div>
    <div>
        <br>
    </div>
    <div>
        &nbsp;
        <br>
    </div>
    <div>
        <br>
    </div>
</div>
<br>
<br>